.save-post {
  width: 80%;
  min-height: 100vh;
  padding: 20px;
 margin-left: 10rem;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.save-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 400px;
  margin: auto;
  gap: 20px;
}
.save-card {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: white;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }

  &:hover img {
    transform: scale(1.05);
  }
}